# dependencies
node_modules/
pnpm-lock.yaml
package-lock.json
yarn.lock

# Expo
.expo/
dist/
web-build/

# Native
android/
ios/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Build
build/
*.tsbuildinfo

# Env files
.env*.local

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# OS
.DS_Store

# IDE
.vscode/
.idea/
